<body>
    <header>
    <h1>Welcome! {{username}}</h1>
    <h1>Your Dashboard</h1>
        <nav>
            <a href="/homepage">Homepage</a>
            <a href="/createpost">Write a New Blog Post</a>
            <a href="/auth/logout">Logout</a>
        </nav>
    </header>

        <h1>Your Posts:</h1>
        {{#each posts}}
        <section>
            <p>Blog Post Title:</p>
            <p>{{title}}</p>
            <p>Created By: {{user.username}} | Date: {{format_date createdAt}}</p>
            <p>Blog Post Preview:</p>
            <textarea readonly rows="5" class="dashboard-textarea" style="resize: none;">{{content}}</textarea>
            <p>Post Options:</p>
            <a href="/editpost/{{id}}">Edit Post</a>
            <button class="btn delete-button delete-post" data-post-id="{{id}}">Delete Post</button>
        </section>
        {{/each}}
</body>


