<body>
    <header>
    <h1>Welcome! {{username}}</h1>
    <h1>Edit Post Page</h1>
        <nav>
            <a href="/dashboard">Dashboard</a>
            <a href="/homepage">Homepage</a>
            <a href="/auth/logout">Logout</a>
        </nav>
    </header>

    <h1>{{title}}</h1>
    <p>Created By: {{user.username}} | Date: {{format_date createdAt}}</p>
    <form class="edit-post-form">
        <p>Edit Post Title</p>
        <label for="edit-post-title"></label>
        <input type="text" id="edit-post-title" placeholder="Edit Title Here" value="{{title}}"></input>
        <p>Edit Post Content</p>
        <label for="edit-post-content"></label>
        <textarea id="edit-post-content" style="resize: none;" rows="5" placeholder="Edit Post Here">{{content}}</textarea>
        <p>Edit Post Options:</p>
        <button type="submit" id="edit-post-button">Edit Post</button>
        <button type="button" id="delete-post-button">Delete Post</button>
    </form>
</body>