<body>
    <header>
    <h1>welcome! {{username}}</h1>
        <nav>
            <a href="/auth/logout">Logout</a>
            <a href="/dashboard">dashboard</a>
            <a href="/createpost">Write a New Blog Post</a>
        </nav>
    <h1>This is where all of the posts will go</h1>

        <h1>All Posts</h1>
         {{#each posts}}
        <section class="post-wrap">{{title}}</section>
        <p>Created By: {{user.username}} | Date: {{format_date createdAt}}</p>
        <a href="/post/{{id}}">{{title}}</a>
        {{/each}}

    </header>
</body>

